services:
  frontend-react:
    image: frontend
    stdin_open: true
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - "./frontend:/app:delegated"
      - /app/node_modules/
  backend-flask:
    image: backend
    build:
      context: ./backend
    ports:
      - "5000:5000"
    volumes:
      - "./backend:/app:delegated"