@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
}

button {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.content {
    margin: $spacing-unit;
}

.icon {
    width: $icon-size;
    height: $icon-size;
}

.icon--small {
    width: $icon-size-small;
    height: $icon-size-small;
}

.icon--link {
    margin-left: $spacing-unit;
    padding-bottom: $spacing-unit;
}

h4 {
    margin: 0;
}

.searchbar {
    max-width: 50%;
}

.small-badge {
    width: 20 * $spacing-unit;
}

.medium-badge {
    width: 25 * $spacing-unit;
}

.sticky-language-bar {
    position: fixed;
    right: 0;
    padding: $spacing-unit;
    display: flex;
    flex-direction: column;
    border: $border-width solid $secondary;
    border-radius: $border-radius-base;
    z-index: 1000;
    margin: $spacing-unit;

    &.bottom {
    bottom: 0;
  }

    &.top {
      top: 6 * $spacing-unit;
    }
}

.drag-button-container {
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
    .content-box {
        width: 100%;
    }

    .searchbar {
        max-width: 90%;
    }
}
