@import './variables.scss';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    place-items: center;
}

h1 {
    margin: 0;
}

button {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.content {
    margin: $spacing-unit;
}

.icon {
    width: $icon-size;
    height: $icon-size;
}

.icon--small {
    width: $icon-size-small;
    height: $icon-size-small;
}

.icon--link {
    margin-left: $spacing-unit;
    padding-bottom: $spacing-unit;
}

h4 {
    margin: 0;
}

.searchbar {
    max-width: 50%;
}

@media (max-width: 768px) {
    .content-box {
        width: 100%;
    }

    .searchbar {
        max-width: 90%;
    }
}